@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap");
* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: url("./images/back-image.png") no-repeat center center/cover;
  padding: 10px 10%;
  overflow: hidden;
  position: relative;
}

.hero img {
  width: 180px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 10px 15px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
  transition: color 0.5s ease;
}
nav ul li a:hover {
  color: #c430d7;
}
.login-btn {
  text-decoration: none;
  color: #c430d7;
  margin-right: 15px;
  border: 1px solid #c430d7;
  padding: 14px 40px;
  border-radius: 30px;
  border-top-right-radius: 0px;
  transition: 0.5s ease-in-out;
  font-weight: 600;
}

.btn {
  text-decoration: none;
  color: #fff;
  padding: 14px 40px;
  background: linear-gradient(45deg, #df4881, #c430d7);
  border-radius: 30px;
  border-top-right-radius: 0px;
  transition: all 0.5s ease;
  font-weight: 600;
}
.btn:hover {
  border-top-right-radius: 30px;
}
.login-btn:hover {
  border-top-right-radius: 30px;
}

.content {
  margin-top: 10%;
  max-width: 600px;
}
.content h1 {
  font-size: 4rem;
  color: #222;
}
.content p {
  margin: 10px 0 30px;
  color: #333;
  animation-delay: 0.5s;
}
.content .btn {
  padding: 15px 80px;
  font-size: 15px;
  animation-delay: 1s;
}
.feature-img {
  position: absolute;
  background: url("./images/pic.png") no-repeat center center/cover;
  right: 10%;
  bottom: 0px;
  height: 85vh;
  width: 30vw;
  overflow: none;
  animation-delay: 1.5s;
}

.main {
  display: flex;
}

.anim {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.copyright a {
  text-decoration: none;
  color: #333;
  transition: color 0.5s ease;
}
.copyright a:hover {
  color: #c430d7;
}
.copyright {
  color: #333;
  animation-delay: 2s;
  text-align: center;
  margin-top: 55px;
}
